

<div id="errorMsg" *ngIf="errorMessage">
  <span>{{ errorMessage }}</span>
</div>
<div id="successMsg" *ngIf="msSuccess">
  <span>{{ msSuccess }}</span>
</div>
<div class="xs-mt-10 xs-mb-10">
  <div class="row">
    <div class="col-md-8">
      <form
        class="form-horizontal"
        novalidate
        [formGroup]="passwordForm"
        (ngSubmit)="ChangePassword()"
      >
        <div class="form-group">
          <div class="row">
            <label class="col-sm-3 control-label" for="form-control-1"
              >Mot de passe actuel:</label
            >
            <div class="col-sm-9">
              <input
                id="form-control-1"
                class="form-control"
                type="password"
                formControlName="cpassword"
              />
              <span
                class="error"
                *ngIf="
                  !passwordForm.controls['cpassword'].valid &&
                  passwordForm.controls['cpassword'].touched
                "
              >
                current password is required
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-3 control-label" for="form-control-1"
              >Nouveau mot de passe</label
            >
            <div class="col-sm-9">
              <input
                id="form-control-1"
                class="form-control"
                type="password"
                formControlName="newPassword"
              />
              <span
                class="error"
                *ngIf="
                  !passwordForm.controls['newPassword'].valid &&
                  passwordForm.controls['newPassword'].touched
                "
              >
                new Password is required
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-3 control-label" for="form-control-1"
              >confirmer mot de passe</label
            >
            <div class="col-sm-9">
              <input
                id="form-control-1"
                class="form-control"
                type="password"
                formControlName="confirmPassword"
              />
              <span
                class="error"
                *ngIf="
                  passwordForm.controls['confirmPassword'].errors?.required &&
                  passwordForm.controls['confirmPassword'].touched
                "
              >
                confirm Password is required
              </span>
              <span
                class="error"
                *ngIf="
                  passwordForm.controls['confirmPassword'].errors?.mustMatch
                "
              >
                Password does not match
              </span>
            </div>
          </div>
        </div>

        <button class="btn postBtn" id="add" [disabled]="!passwordForm.valid">
          Ajouter
        </button>
      </form>
    </div>
  </div>
</div>
