<app-toolbar></app-toolbar>
<app-side></app-side>

<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">ADD Document</div>
          <div class="panel-body">
            <pdf-viewer [src]="pdfSource" [original-size]="false"></pdf-viewer>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">formulaire</div>
          <div class="panel-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
