<app-toolbar></app-toolbar>
<app-side></app-side>

<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Ajouter photo</div>
          <div class="panel-body">
            <app-images></app-images>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Changer Mot de passe</div>
          <div class="panel-body">
            <app-change-password></app-change-password>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
